include *.txt
include *.md
include *.pkl
recursive-include ./recurrence_model *

include recurrence_model/datasets/filtered_thyroid_data.csv
include recurrence_model/datasets/test.csv
include recurrence_model/trained_models/*.pkl
include recurrence_model/VERSION
include recurrence_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]